<div>
    <form name="regForm" action="/supervisors/updateSupervisor" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <input value="<%= data[0].id %>" class="form-control" type="hidden" id="id" name="id">
            <label for="name">Name</label>
            <input value="<%= data[0].name %>" class="form-control" type="text" id="name" name="name" placeholder="Enter Your Name..">
            <label for="profilePic">Profile Picture</label>
            <input value="<%= data[0].profilePic %>" class="form-control" type="text" id="profilePic" name="profilePic">

            <label for="dob">dob</label>
            <input value="<%= data[0].dob %>" class="form-control" type="date" id="dob" name="dob">

            <br>
            <label for="cars">Choose Gender:</label>
            <select id="gender" name="gender" value="<%= data[0].gender %>">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br>
            <label for="email">Email</label>
            <input value="<%= data[0].email %>" class="form-control" type="text" id="email" name="email" placeholder="Enter Your Email..">

            <label for="phone">Phone No</label>
            <input value="<%= data[0].phone %>" class="form-control" type="text" id="phone" name="phone" placeholder="Enter Your Phone Number..">
            <br>
            <label for="country">Country</label>
            <select name="country" id="country" value="<%= data[0].country %>">
                <option value="">Select Country</option>
                <option value="pakistan">Pakistan</option>
                <option value="usa">USA</option>
                <option value="england">England</option>
            </select>
            <br>
            <label for="department">Choose Department:</label>
            <select id="department" name="department" value="<%= data[0].department %>">
                <option value="CS">CS</option>
                <option value="EE">EE</option>
                <option value="SE">SE</option>
                <option value="AI">AI</option>
            </select>
            <br>
            <label for="experties">Enter Experties:</label>
            <input value="<%= data[0].experties %>" class="form-control" type="text" id="experties" name="experties" placeholder="Enter Your Experties..">

            
            <label for="groups">Total FYP Groups:</label>
            <input value="<%= data[0].groups %>" class="form-control" type="number" id="groups" name="groups" placeholder="ENter number of groups you can supervise">

            
            <input type="password" id="password" name="password" placeholder="Enter Your Password Here.." class="form-control">
            <label for="oldpassword">Old Password</label>
            <input type="password" id="oldpassword" name="oldpassword" placeholder="Enter Your Old Password Here.." class="form-control">

            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>