<style>
    .wrapper {
        display: inline-block;
    }

    .wrapper * {
        float: right;
    }

    input[type=radio] {
        display: none;
    }

    label {
        font-size: 30px;
    }

    input:checked~label {
        color: orange;
    }

    /*
label:hover,
label:hover ~ label {
  color: red;
}
*/
    /*
input:checked ~ label:hover,
input:checked ~ label:hover ~ label {
  color: lime !important;
}
*/
</style>
<div class="row">
    <div class="col-md-3">
        <div class="wsk-cp-product">
            <div class="wsk-cp-img">
                <img src="/img/<%= user.profilePic %>" alt="User" class="img-responsive" />
            </div>
            <div class="wsk-cp-text">
                <div class="category">
                    <span>
                        <%= user.fname %>
                    </span>
                </div>
                <div class="title-product">
                    <h3>DOB: <%= user.birthday %>
                    </h3>
                </div>
                <div class="title-product">
                    <h3>Role: <%= user.role %>
                    </h3>
                </div>
                <div class="title-product">
                    <h3>User Ratings:
                        <% for(let i=0;i<rating;i++){ %>
                            <span style="color: orange;font-size:x-large; ">&#10038</span>
                            <% } %>
                    </h3>
                </div>
                <div class="title-product">
                    <h3>ID: <%= user.id %>
                    </h3>
                </div>
                <div class="description-prod">
                    <p>
                        <%= user.email%>
                    </p>
                </div>
                <% if(role=="admin" ) {%>
                    <form name="regForm" action="/users/delete" method="post">
                        <input data-confirm="Are you sure?" type="hidden" value="<%= user.id %>" id="id" name="id">
                        <input class="btn btn-primary" type="submit" value="Delete">
                    </form>
                    <form name="regForm" action="/users/updateUser" method="get">
                        <input type="hidden" value="<%= user.id %>" id="id" name="id">
                        <input class="btn btn-primary" type="submit" value="Update">
                    </form>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <br>
        <button onclick="getComments()">Show Comments</button>
        <button onclick="hideComments()">Hide Comments</button>
        <br>
        <br>
        <div id="comments" style="overflow-y: scroll; height:500px;">

        </div>
        <form name="commentFrm" action="/user/addComment" method="post">
            <label for="comment">Enter Comment</label>
            <br>
            <input type="text" id="comment" name="comment" placeholder="Enter your comment...">
            <input type="hidden" value="<%= user.id %>" id="id" name="id">
            <input type="hidden" value="<%= username %>" id="username" name="username">
            <input type="submit" value="Post">
        </form>
    </div>
    <div class="col-md-3">
        <br>
        <button onclick="getRatings()">Show Ratings</button>
        <button onclick="hideRatings()">Hide Ratings</button>
        <br>
        <br>
        <div id="ratings" style="overflow-y: scroll; height:500px;">
        </div>
        <form name="ratingsFrm" action="/user/addRatings" method="post">
            <label for="ratings">Rate and Review</label>
            <br>
            <div class="wrapper">
                <input type="radio" id="r1" name="rg1" value="1">
                <label for="r1">&#10038;</label>
                <input type="radio" id="r2" name="rg2" value="2">
                <label for="r2">&#10038;</label>
                <input type="radio" id="r3" name="rg3" value="3">
                <label for="r3">&#10038;</label>
                <input type="radio" id="r4" name="rg4" value="4">
                <label for="r4">&#10038;</label>
                <input type="radio" id="r5" name="rg5" value="5">
                <label for="r5">&#10038;</label>
            </div>
            <br>
            <input type="text" id="review" name="review" placeholder="Enter your review...">
            <input type="hidden" value="<%= user.id %>" id="id" name="id">
            <input type="hidden" value="<%= username %>" id="username" name="username">
            <input type="submit" value="Post">
        </form>
    </div>
    <br>
    <div class="col-md-3">
        <br>
        <form name="notifForm" action="/sent" method="post">
            <input type="hidden" value="<%= user.id %>" id="id" name="id">
            <input type="hidden" value="<%= user.email %>" id="candidateEmail" name="candidateEmail">
            <input type="hidden" value="<%= user.fname %>" id="candidateFirstName" name="candidateFirstName">
            <input type="hidden" value="<%= user.lname %>" id="candidateLastName" name="candidateLastName">
            <input type="text" id="officialPosition" name="officialPosition" placeholder="Enter your position...">
            <input type="text" id="officialFullName" name="officialFullName" placeholder="Enter your Full Name...">
            <input type="submit" value="Send Notification">
        </form>
    </div>
</div>

<script>
    function getComments() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            text = JSON.parse(this.responseText);
            for (let i = 0; i < this.responseText.length; i++) {
                document.getElementById("comments").innerHTML +=
                    `<div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">${text[i].username}</div>
                    <div class="card-body text-primary">
                        <p class="card-text">${text[i].comment}</p>
                        <button onclick="getReplies(${text[i].id})">Show</button>
                        <button onclick="hideReplies()">Hide</button>
                        <div id="reply" style="overflow-y: scroll; height:100px;">

                        </div>
                        <form name="replyFrm" action="/user/addCommentReply?userID=<%=user.id%>" method="post">
                            <label for="comment">Enter Reply</label>
                            <br>
                            <input type="text" id="reply" name="reply" placeholder="Enter your reply...">
                            <input type="hidden" value="${text[i].id}" id="id" name="id">
                            <input type="hidden" value="<%= username %>" id="username" name="username">
                            <input type="submit" value="Post">
                        </form>
                    </div>
                </div>`
            }
        }
        xhttp.open("GET", `/user/getComments?id=<%=user.id%>`);
        xhttp.send();
    }
    function hideComments() {
        document.getElementById("comments").innerHTML = "";
    }
    function getRatings() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            text = JSON.parse(this.responseText);
            for (let i = 0; i < this.responseText.length; i++) {
                document.getElementById("ratings").innerHTML += `&nbsp&nbsp&nbsp&nbsp`;
                for (let j = 0; j < text[i].ratings; j++) {
                    document.getElementById("ratings").innerHTML += `<span style="color: orange;font-size:x-large; ">&#10038</span>`
                }
                document.getElementById("ratings").innerHTML +=
                    `<div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">${text[i].username}</div>
                    <div class="card-body text-primary">
                        <p class="card-text">${text[i].review}</p><p class="card-text">
                   </div>
                </div>`
            }
        }
        xhttp.open("GET", `/user/getRatings?id=<%=user.id%>`);
        xhttp.send();
    }
    function hideRatings() {
        document.getElementById("ratings").innerHTML = "";
    }

    function getReplies(id) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            text = JSON.parse(this.responseText);
            for (let i = 0; i < this.responseText.length; i++) {
                document.getElementById("reply").innerHTML +=
                    `<div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">${text[i].username}</div>
                    <div class="card-body text-primary">
                        <p class="card-text">${text[i].reply}</p><p class="card-text">
                   </div>
                </div>`
            }
        }
        xhttp.open("GET", `/user/getCommentReply?id=${id}`);
        xhttp.send();
    }
    function hideReplies() {
        document.getElementById("reply").innerHTML = "";
    }
</script>